body {
	margin:0;
	padding:0;
}
.Holder {
	width:1000px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:21px;
	margin-bottom:21px;
}
.Header {
	text-align:center;
	margin-bottom:11px;
	font-family:"Imprint MT Shadow", "Blackoak Std", "Charlemagne Std";
	font-size:65px;
}
.NavBar {
	height:70px;
	background-color:#000;
	border-radius:10px;
}
.Content {
	height:auto;
	clear:both;
	overflow:auto;
}
.PageHeading {
	height:auto;
	padding:11px;
}
.ContentLeft {
	width:280px;
	float:left;
	padding-left:11px;
	padding-top:11px;
}
.ContentRight {
	width:700px;
	float:right;
}
.Footer {
	height:100px;
}
h1 {
	margin: 0;
	font-family:Arial, Helvetica, sans-serif;
	color: #666;
	font-weight: lighter;
}
h2 {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	#999;
}
h6 {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	font-size:16px;
	#333;
}
.StyleText {
	border: 1px solid #666;
	border-radius:6px;
	width:200px;
	height:35px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:6px;
}
a {
	color:#C33;
}