nav ul {
	margin:0;
	padding:0;
}
nav ul li {
	list-style-type:none;
	float:left;
	display:block;
	width:150px;
	height:70px;
	text-align:center;
	line-height:62px;
	font-family:"Imprint MT Shadow", "Blackoak Std", "Charlemagne Std";
	font-size:18px;
}
nav ul li a {
	text-decoration:none;
	color:#FFF;
}
nav ul li:hover {
	background-color:#CCC;
	border-radius:10px;
}
nav ul li:hover a {
	display:block;
	color:#000;